*{
    margin: auto;   
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-img{
    width: 200px;
}

@media (max-width: 400px){
    #header-img{
        width: 100vw;
    }

}